@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&subset=cyrillic-ext");

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

.slick-slide:focus {
  outline: none;
}

.banner-slider-slick {
  position: relative;
}

.banner-slider-slick .slick-arrow {
  position: absolute;
  bottom: -12px;
  z-index: 1111;
  font-size: 0;
  width: 14px;
  height: 24px;
  background: none;
  border: 0;
  cursor: pointer;
}

.banner-slider-slick .slick-arrow:focus {
  outline: none;
}

.no-webp .banner-slider-slick .slick-arrow.slick-prev{
  background: url("../img/banner/prev.png") left 0 no-repeat; }

.banner-slider-slick .slick-arrow.slick-prev {
  left: 47%;
}

.no-webp .banner-slider-slick .slick-arrow.slick-next{
  background: url("../img/banner/next.png") right 0 no-repeat; }

.banner-slider-slick .slick-arrow.slick-next {
  right: 47%;
}

.nav-toggle {
  position: relative;
  z-index: 1;
  display: none;
  background: none;
  border: 0;
  padding: 9px 1px;
  cursor: pointer;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle__item {
  width: 30px;
  height: 3px;
  background: #bb9c66;
  display: block;
  font-size: 0;
  color: transparent;
  position: relative;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  background: #bb9c66;
  position: absolute;
  right: 0;
  z-index: 1;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle._active .nav-toggle__item {
  background: none;
}

.nav-toggle._active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-3px);
  -ms-transform: rotate(45deg) translateX(-3px);
  transform: rotate(45deg) translateX(-3px);
}

.nav-toggle._active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-3px);
  -ms-transform: rotate(-45deg) translateX(-3px);
  transform: rotate(-45deg) translateX(-3px);
}

@font-face {
  font-family: "ceremonious";
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff") format("woff"), url("../fonts/ceremonious_one.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFDin";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BravoRGRegular";
  font-display: swap;
  src: url("../fonts/BravoRGRegular.woff") format("woff"), url("../fonts/BravoRGRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFDin";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/pfdintextcondpro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.title__item {
  font-family: "ceremonious";
  font-size: 40px;
  line-height: 0.63;
  color: #bb9c66;
  margin-bottom: 23px;
}

.title__main {
  font-size: 35px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.title__text {
  width: 100%;
  max-width: 688px;
  margin: 25px auto 0;
  font-family: "PTSans";
  font-size: 15px;
  line-height: calc(25 / 15);
  color: #fff;
}

.header {
  background-color: #1c242a;
  padding: 21px 0 26px;
  position: relative;
  z-index: 1122;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 2;
  width: 144px;
  display: inline-block;
}

.header-menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-menu__item + .header-menu__item {
  margin-left: 32px;
}

.header-menu__link,
.actions-header__region {
  font-family: "PFDin";
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1.4px;
  color: #fff;
  display: block;
  text-transform: uppercase;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.no-webp .actions-header__region{
  background: url("../img/header/globe.png") left no-repeat; }

.actions-header__region {
  padding-left: 30px;
  position: relative;
  z-index: 2;
  line-height: 18px;
  min-width: 18px;
  min-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.actions-header__user {
  margin-left: 31px;
}

.user-header__iccon {
  position: relative;
  z-index: 2;
  margin-top: 5px;
  cursor: pointer;
}

.user-header__menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 65px;
  right: 0;
  background-color: #1c242a;
  padding: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  min-width: 185px;
}

.user-header__menu li {
  margin-bottom: 8px;
}

.user-header__menu li:last-child {
  margin-bottom: 0;
}

.user-header__menu._active {
  opacity: 1;
  visibility: visible;
}

.user-header__link {
  color: #fff;
  padding-left: 30px;
  display: inline-block;
  line-height: 18px;
}

.user-header__link_1 {
  background: url("../img/header/iccon-1.webp") 1px center no-repeat;
}

.user-header__link_2 {
  background: url("../img/header/iccon-2.webp") left center no-repeat;
}

.user-header__link_3 {
  background: url("../img/header/iccon-3.webp") 4px center no-repeat;
}

.user-header__link_4 {
  background: url("../img/header/iccon-4.webp") left center no-repeat;
}

.banner-slider {
  position: relative;
}

.banner-slider__control {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1000;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-slider__control:after {
  content: " ";
  background: #fff;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.control-banner-slider__decor {
  position: relative;
  z-index: 2;
  -webkit-animation: rotate 5s infinite linear;
  animation: rotate 5s infinite linear;
}

@-webkit-keyframes rotate {
  0% {

  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {

  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.item-banner-slider {
  text-align: center;
  position: relative;
  padding: 34px 0 100px;
}

.item-banner-slider__content {
  position: relative;
  z-index: 2;
}

.item-banner-slider .btn {
  margin-top: 58px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0;
  position: relative;
  min-height: 50px;
}

.item-banner-slider .btn:focus {
  outline: none;
}

.item-banner-slider .btn:before,
.item-banner-slider .btn:after {
  content: " ";
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
}

.item-banner-slider .btn:before {
  top: 0;
  background-color: #bb9c66;
}

.item-banner-slider .btn:after {
  bottom: 0;
  background-color: #8f6630;
}

.item-banner-slider .btn__body:before,
.item-banner-slider .btn__body:after {
  content: " ";
  position: absolute;
  top: 0;
  width: 3px;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8f6630), to(#bb9c66));
  background-image: -o-linear-gradient(bottom, #8f6630, #bb9c66);
  background-image: linear-gradient(to top, #8f6630, #bb9c66);
}

.item-banner-slider .btn__body:before {
  left: 0;
}

.item-banner-slider .btn__body:after {
  right: 0;
}

.item-banner-slider .btn__body span {
  display: block;
  padding: 15px 50px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "PFDin";
  line-height: 21px;
  letter-spacing: 1.5px;
  position: relative;
}

.item-banner-slider .btn__body span:after {
  content: " ";
  height: 50%;
  -webkit-transition: height 0.5s ease 0s;
  -o-transition: height 0.5s ease 0s;
  transition: height 0.5s ease 0s;
  opacity: 0.06;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bb9c66), to(rgba(187, 156, 102, 0)));
  background-image: -o-linear-gradient(bottom, #bb9c66 0%, rgba(187, 156, 102, 0) 100%);
  background-image: linear-gradient(to top, #bb9c66 0%, rgba(187, 156, 102, 0) 100%);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.item-banner-slider .btn:hover .btn__body span:after {
  opacity: 0.3;
  height: 100%;
}

.item-banner-slider__bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.global-wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 955px;
  margin: 0 auto;
  padding: 0 15px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "PT Sans";
  font-size: 15px;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .user-header__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1200px) {
  .banner-slider-slick .slick-arrow.slick-prev {
    left: 46%;
  }

  .banner-slider-slick .slick-arrow.slick-next {
    right: 46%;
  }
}

@media (max-width: 900px) {
  .banner-slider-slick .slick-arrow.slick-prev {
    left: 45%;
  }

  .banner-slider-slick .slick-arrow.slick-next {
    right: 45%;
  }
}

@media (max-width: 890px) {
  .actions-header__region {
    padding-left: 0;
  }

  .actions-header__region span {
    display: none;
  }

  .actions-header__user {
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .nav-toggle {
    display: block;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header-menu_body {
    background-color: rgba(28, 36, 42, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    padding: 95px 0 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-menu_body:after {
    content: " ";
    background: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
  }

  .header-menu_body._active {
    opacity: 1;
    visibility: visible;
  }

  .header-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .header-menu__item + .header-menu__item {
    margin-left: 0;
    margin-top: 7px;
  }

  .header-menu__link,
  .actions-header__region {
    font-size: 20px;
  }

  .user-header__menu {
    width: 100%;
  }

  .container {
    max-width: none;
  }
}

@media (max-width: 700px) {
  .banner-slider-slick .slick-arrow.slick-prev {
    left: 44%;
  }

  .banner-slider-slick .slick-arrow.slick-next {
    right: 44%;
  }
}

@media (max-width: 585px) {
  .banner-slider-slick .slick-arrow.slick-prev {
    left: 43%;
  }

  .banner-slider-slick .slick-arrow.slick-next {
    right: 43%;
  }
}

@media (max-width: 490px) {
  .banner-slider-slick .slick-arrow.slick-prev {
    left: 42%;
  }

  .banner-slider-slick .slick-arrow.slick-next {
    right: 42%;
  }
}

@media (max-width: 415px) {
  .banner-slider-slick .slick-arrow.slick-prev {
    left: 41%;
  }

  .banner-slider-slick .slick-arrow.slick-next {
    right: 41%;
  }
}

@media (max-width: 365px) {
  .banner-slider-slick .slick-arrow.slick-prev {
    left: 38%;
  }

  .banner-slider-slick .slick-arrow.slick-next {
    right: 38%;
  }
}

.webp .banner-slider-slick .slick-arrow.slick-prev{ background: url(../img/banner/prev.webp) left 0 no-repeat; }

.webp .banner-slider-slick .slick-arrow.slick-next{ background: url(../img/banner/next.webp) right 0 no-repeat; }

.webp .actions-header__region{ background: url(../img/header/globe.webp) left no-repeat; }