.title {
    &__item {
        font-family: "ceremonious";
        font-size: 40px;
        line-height: 0.63;
        color: #bb9c66;
        margin-bottom: 23px;
    }

    &__main {
        font-size: 35px;
        line-height: 1;
        color:$white;
        text-transform: uppercase;
    }

    &__text {
        width: 100%;
        max-width:688px;
        margin: 25px auto 0;
        font-family: "PTSans";
        font-size: 15px;
        line-height: calc(25 / 15);
        color: $white;
    }
}
